bcrypt==5.0.0
cffi==1.17.1
cryptography==47.0.0
jinja2==3.1.6
MarkupSafe==2.1.5
netmiko==4.4.0
ntc-templates==7.9.0
paramiko==3.5.1
pycparser==2.23
pynacl==1.6.2
pyserial==3.5
PyYAML==6.0.3
scp==0.15.0
textfsm==2.1.0
typing-extensions==4.13.2
