{% for interface in data.interfaces %}

interface {{interface.name}}

description {{interface.description}}

ip address {{interface.ipv4_addr}} {{interface.ipv4_mask}}

{% endfor %}1~{% for interface in data.interfaces %}

interface {{interface.name}}

description {{interface.description}}

ip address {{interface.ipv4_addr}} {{interface.ipv4_mask}}

{% endfor %}1~{% for interface in data.interfaces %}

interface {{interface.name}}

description {{interface.description}}

ip address {{interface.ipv4_addr}} {{interface.ipv4_mask}}

{% endfor %}1~{% for interface in data.interfaces %}

interface {{interface.name}}

description {{interface.description}}

ip address {{interface.ipv4_addr}} {{interface.ipv4_mask}}

{% endfor %}1~{% for interface in data.interfaces %}

interface {{interface.name}}

description {{interface.description}}

ip address {{interface.ipv4_addr}} {{interface.ipv4_mask}}

{% endfor %}1~{% for interface in data.interfaces %}

interface {{interface.name}}

description {{interface.description}}

ip address {{interface.ipv4_addr}} {{interface.ipv4_mask}}

{% endfor %}1~oo{% for interface in data.interfaces %}

interface {{interface.name}}

description {{interface.description}}

ip address {{interface.ipv4_addr}} {{interface.ipv4_mask}}

{% endfor %}1~x{% for interface in data.interfaces %}

interface {{interface.name}}

description {{interface.description}}

ip address {{interface.ipv4_addr}} {{interface.ipv4_mask}}

{% endfor %}1~{% for interface in data.interfaces %}

interface {{interface.name}}

description {{interface.description}}

ip address {{interface.ipv4_addr}} {{interface.ipv4_mask}}

{% endfor %}1~{% for interface in data.interfaces %}

interface {{interface.name}}

description {{interface.description}}

ip address {{interface.ipv4_addr}} {{interface.ipv4_mask}}

{% endfor %}1~{% for interface in data.interfaces %}

interface {{interface.name}}

description {{interface.description}}

ip address {{interface.ipv4_addr}} {{interface.ipv4_mask}}

{% endfor %}
